@model IEnumerable<MinhaAplicacao_Cliente.Models.PessoaModel>

<h4>Pessoas</h4>

<p>
    <a asp-action="Adicionar">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    <a asp-action="Atualizar" asp-route-id="@item.Id">Atualizar</a> |
                    <a asp-action="Excluir" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
